Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type,-readability-identifier-length,-modernize-type-traits,-cppcoreguidelines-non-private-member-variables-in-classes'

CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: ''
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  # Add options for handling test-specific warnings
  - key: modernize-type-traits.IgnoreMacros
    value: 'true'
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: 'true'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;-1'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;-1'

WarningsAsErrors: ''
HeaderFilterRegex: '.*(?<!googletest)(?<!googlemock)$'
FormatStyle: file
