BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 4
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
NamespaceIndentation: None
IndentCaseLabels: false
ColumnLimit: 120
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpacesInAngles: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
AlignAfterOpenBracket: Align
AlignOperands: true
AlignEscapedNewlines: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
