### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### PlatformIO ###
# PlatformIO specific
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.ccls
.ccls-cache/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Build and debug
build/
debug/

# Temporary and backup files
*.tmp
*.bak
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Project specific
src/arduino_secrets.h

# Project documentation
memory-bank/

# End of https://www.toptal.com/developers/gitignore/api/platformio,c++,visualstudiocode
